
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600377531866022764.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600377531866022764.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600377531866022764.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600377531866022764.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600377531866022764.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600377531866022764.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600377531866022764.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600377531866022764.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600377531866022764.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600377531866022764.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600377531866022764.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600377531866022764.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600377531866022764.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600377531866022764.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600377531866022764.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600377531866022764.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600377531866022764.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600377531866022764.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600377531866022764.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600377531866022764.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600377531866022764.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600377531866022764.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600377531866022764.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600377531866022764.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600377531866022764.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-600377531866022764.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600377531866022764.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-600377531866022764.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600377531866022764.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-600377531866022764.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600377531866022764.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-600377531866022764.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-600377531866022764.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600377531866022764.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-600377531866022764.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-600377531866022764.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-600377531866022764.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-600377531866022764.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600377531866022764.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600377531866022764.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600377531866022764.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600377531866022764.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600377531866022764.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600377531866022764.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600377531866022764.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600377531866022764.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600377531866022764.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600377531866022764.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600377531866022764.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-600377531866022764.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600377531866022764.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-600377531866022764.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-600377531866022764.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-600377531866022764.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600377531866022764.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-600377531866022764.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600377531866022764.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-600377531866022764.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-600377531866022764.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-600377531866022764.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-600377531866022764.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-600377531866022764.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600377531866022764.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600377531866022764.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-600377531866022764.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-600377531866022764.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-600377531866022764.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-600377531866022764.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-600377531866022764.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600377531866022764.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-600377531866022764.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-600377531866022764.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600377531866022764.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-600377531866022764.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-600377531866022764.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-600377531866022764.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-600377531866022764.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-600377531866022764.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600377531866022764.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600377531866022764.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-600377531866022764.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-600377531866022764.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-600377531866022764.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-600377531866022764.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-600377531866022764 .gp-relative{position:relative}.gps-600377531866022764 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600377531866022764 .gp-mb-0{margin-bottom:0}.gps-600377531866022764 .gp-flex{display:flex}.gps-600377531866022764 .gp-grid{display:grid}.gps-600377531866022764 .\!gp-hidden{display:none!important}.gps-600377531866022764 .gp-hidden{display:none}.gps-600377531866022764 .gp-max-w-full{max-width:100%}.gps-600377531866022764 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600377531866022764 .gp-flex-col{flex-direction:column}.gps-600377531866022764 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600377531866022764 .gp-duration-200{transition-duration:.2s}.gps-600377531866022764 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-600377531866022764 .tablet\:\!gp-hidden{display:none!important}.gps-600377531866022764 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-600377531866022764 .mobile\:\!gp-hidden{display:none!important}.gps-600377531866022764 .mobile\:gp-hidden{display:none}}.gps-600377531866022764 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F8F3ED","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gc1bClVxXp"}' data-id="gc1bClVxXp" id="gc1bClVxXp" data-same-height-subgrid-container class="gc1bClVxXp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:80px;--pr:0px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--pt-tablet:40px;--pl-tablet:40px;--pb-tablet:40px;--pr-tablet:40px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F8F3ED;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6HeNefIxO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gOOYKZM5eG"}' data-id="gOOYKZM5eG" id="gOOYKZM5eG" data-same-height-subgrid-container class="gOOYKZM5eG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2umxTacmU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd3nLXuVAs"
        class="gd3nLXuVAs"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:32px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:32px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:32px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:32px;--size-tablet:37px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd3nLXuVAs_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJx1SFM9Ko"}' data-id="gJx1SFM9Ko" id="gJx1SFM9Ko" data-same-height-subgrid-container class="gJx1SFM9Ko gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--mb:0px;--pt:32px;--pl:32px;--pb:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:24px;--pl-mobile:24px;--pb-mobile:24px;--pr-mobile:24px;--mb-tablet:0px;--pt-tablet:32px;--pl-tablet:32px;--pb-tablet:32px;--pr-tablet:32px;--cg:16px;--cg-tablet:8px;--rg:16px;--rg-tablet:8px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gp54Qoc3m9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g8C8WjuT1C"}' data-id="g8C8WjuT1C" id="g8C8WjuT1C" data-same-height-subgrid-container class="g8C8WjuT1C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNru1h-QLt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx4SfiHUkV"
        class="gx4SfiHUkV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:4px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:24px;--size-mobile:20px;--lh:150%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx4SfiHUkV_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gR2Dndd65L"
        class="gR2Dndd65L"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggR2Dndd65L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gEbOyZp2Xt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g6Tyu_Fm9i"}' data-id="g6Tyu_Fm9i" id="g6Tyu_Fm9i" data-same-height-subgrid-container class="g6Tyu_Fm9i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbVo6ehoiQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gl40tqScH-"
        class="gl40tqScH-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:4px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:24px;--size-mobile:20px;--lh:150%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl40tqScH-_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzrUxA9z2m"
        class="gzrUxA9z2m"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzrUxA9z2m_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="geu3Jm9ca_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g-BOZZiOpk"}' data-id="g-BOZZiOpk" id="g-BOZZiOpk" data-same-height-subgrid-container class="g-BOZZiOpk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPBVyDo43m gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHpVfc88P8"
        class="gHpVfc88P8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:4px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:24px;--size-mobile:20px;--lh:150%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHpVfc88P8_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guj0yP_53R"
        class="guj0yP_53R"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguj0yP_53R_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gzUgfW1BHL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gzKD3kWAVa"}' data-id="gzKD3kWAVa" id="gzKD3kWAVa" data-same-height-subgrid-container class="gzKD3kWAVa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gq5_B4kBGo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gONm7Xr3sj"
        class="gONm7Xr3sj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:20px;--size-tablet:24px;--size-mobile:20px;--lh:150%;--lh-tablet:130%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggONm7Xr3sj_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gB7b2AV9EO"
        class="gB7b2AV9EO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggB7b2AV9EO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-600377531866022764 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mmubbg-6p/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=587025464153866937&sectionId=600377531866022764)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggd3nLXuVAs_text","label":"ggd3nLXuVAs_text","default":"why gemnest?"},{"type":"html","id":"ggx4SfiHUkV_text","label":"ggx4SfiHUkV_text","default":"premium material"},{"type":"html","id":"ggR2Dndd65L_text","label":"ggR2Dndd65L_text","default":"<p>Crafted from pure, breathable fibers and plant-based dyes for a sleep that feels as natural as it looks.</p>"},{"type":"html","id":"ggl40tqScH-_text","label":"ggl40tqScH-_text","default":"365-night comfort promise"},{"type":"html","id":"ggzrUxA9z2m_text","label":"ggzrUxA9z2m_text","default":"<p>Every night should feel like the first — soft, calm, and restorative. If not, we’ll make it right.</p>"},{"type":"html","id":"ggHpVfc88P8_text","label":"ggHpVfc88P8_text","default":"Fast &amp; free shipping"},{"type":"html","id":"gguj0yP_53R_text","label":"gguj0yP_53R_text","default":"<p>Your comfort shouldn’t wait. We pack with care and deliver swiftly from our nest to yours.</p>"},{"type":"html","id":"ggONm7Xr3sj_text","label":"ggONm7Xr3sj_text","default":"Easy returns, zero stress"},{"type":"html","id":"ggB7b2AV9EO_text","label":"ggB7b2AV9EO_text","default":"<p>If it’s not the perfect match, returning is simple and seamless — we’ll take care of everything.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}