
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600377531413037643.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600377531413037643.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600377531413037643.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600377531413037643.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600377531413037643.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600377531413037643.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600377531413037643.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600377531413037643.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600377531413037643.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600377531413037643.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600377531413037643.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600377531413037643.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600377531413037643.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600377531413037643.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600377531413037643.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600377531413037643.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600377531413037643.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600377531413037643.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600377531413037643.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600377531413037643.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600377531413037643.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600377531413037643.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600377531413037643.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600377531413037643.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600377531413037643.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-600377531413037643.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600377531413037643.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-600377531413037643.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600377531413037643.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-600377531413037643.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600377531413037643.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-600377531413037643.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-600377531413037643.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600377531413037643.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-600377531413037643.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600377531413037643.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600377531413037643.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600377531413037643.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600377531413037643.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600377531413037643.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600377531413037643.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600377531413037643.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600377531413037643.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600377531413037643.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600377531413037643.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600377531413037643.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-600377531413037643.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600377531413037643.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-600377531413037643.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-600377531413037643.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600377531413037643.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-600377531413037643.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600377531413037643.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-600377531413037643.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-600377531413037643.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600377531413037643.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600377531413037643.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-600377531413037643.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-600377531413037643.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-600377531413037643.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-600377531413037643.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-600377531413037643.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600377531413037643.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-600377531413037643.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-600377531413037643.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600377531413037643.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-600377531413037643.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-600377531413037643.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600377531413037643.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600377531413037643.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-600377531413037643.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-600377531413037643.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-600377531413037643.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-600377531413037643.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-600377531413037643 .gp-relative{position:relative}.gps-600377531413037643 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600377531413037643 .gp-mb-0{margin-bottom:0}.gps-600377531413037643 .gp-flex{display:flex}.gps-600377531413037643 .gp-grid{display:grid}.gps-600377531413037643 .\!gp-hidden{display:none!important}.gps-600377531413037643 .gp-hidden{display:none}.gps-600377531413037643 .gp-max-w-full{max-width:100%}.gps-600377531413037643 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600377531413037643 .gp-flex-col{flex-direction:column}.gps-600377531413037643 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600377531413037643 .gp-duration-200{transition-duration:.2s}.gps-600377531413037643 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-600377531413037643 .tablet\:\!gp-hidden{display:none!important}.gps-600377531413037643 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-600377531413037643 .mobile\:\!gp-hidden{display:none!important}.gps-600377531413037643 .mobile\:gp-hidden{display:none}}.gps-600377531413037643 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(820px + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5Esxlv3bh"}' data-id="g5Esxlv3bh" id="g5Esxlv3bh" data-same-height-subgrid-container class="g5Esxlv3bh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px 0px 1px 0px;--bc:#DDDDDD;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:0px;--pb:80px;--pr:0px;--pt-mobile:40px;--pl-mobile:40px;--pb-mobile:40px;--pr-mobile:40px;--pt-tablet:80px;--pl-tablet:0px;--pb-tablet:80px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:820px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVLBhIfgf2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gtjbKCrZx0"
        class="gtjbKCrZx0"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:4px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:32px;--size-tablet:37px;--size-mobile:28px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtjbKCrZx0_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLwrRLVykU"
        class="gLwrRLVykU"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLwrRLVykU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gFPqtA9ssg"}' data-id="gFPqtA9ssg" id="gFPqtA9ssg" data-same-height-subgrid-container class="gFPqtA9ssg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:40px;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHeKf0pE_K gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gIGXIgIadp"}' data-id="gIGXIgIadp" id="gIGXIgIadp" data-same-height-subgrid-container class="gIGXIgIadp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:none;--bw:0px 1px 0px 0px;--bc:#DDDDDD;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkT2QqN9MT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX14JDOWiU"
        class="gX14JDOWiU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:56px;--size-tablet:37px;--size-mobile:37px;--lh:110%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX14JDOWiU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXrJtBeSuV"
        class="gXrJtBeSuV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:80%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXrJtBeSuV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gUIkdccQxX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gvM3oODbhA"}' data-id="gvM3oODbhA" id="gvM3oODbhA" data-same-height-subgrid-container class="gvM3oODbhA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:none;--bw:0px 1px 0px 0px;--bc:#DDDDDD;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbLSM1OICx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqkUzc-uVr"
        class="gqkUzc-uVr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:56px;--size-tablet:37px;--size-mobile:37px;--lh:110%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqkUzc-uVr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3SDVkeMFb"
        class="g3SDVkeMFb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:80%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3SDVkeMFb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4fxbL85F5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g2DOQvdMb1"}' data-id="g2DOQvdMb1" id="g2DOQvdMb1" data-same-height-subgrid-container class="g2DOQvdMb1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bs-mobile:none;--bw:0px 1px 0px 0px;--bc:#DDDDDD;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_wFz6IBwH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gli5-g6HxM"
        class="gli5-g6HxM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:56px;--size-tablet:37px;--size-mobile:37px;--lh:110%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggli5-g6HxM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkSsBcu-hV"
        class="gkSsBcu-hV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:80%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkSsBcu-hV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gBUuKYBaPT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gdXzx-glOP"}' data-id="gdXzx-glOP" id="gdXzx-glOP" data-same-height-subgrid-container class="gdXzx-glOP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:15px;--pb:0px;--pr:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9QWJv7BNs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFFuyoLwic"
        class="gFFuyoLwic"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:500;--size:56px;--size-tablet:37px;--size-mobile:37px;--lh:110%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFFuyoLwic_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gc1i1aWOIR"
        class="gc1i1aWOIR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:80%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#2D3452;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggc1i1aWOIR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-600377531413037643 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mmubbg-6p/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=587025464153866937&sectionId=600377531413037643)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggtjbKCrZx0_text","label":"ggtjbKCrZx0_text","default":"Quality you can feel"},{"type":"html","id":"ggLwrRLVykU_text","label":"ggLwrRLVykU_text","default":"<p>Based on feedback from Gemnest bedding users</p>"},{"type":"html","id":"ggX14JDOWiU_text","label":"ggX14JDOWiU_text","default":"<p>92%</p>"},{"type":"html","id":"ggXrJtBeSuV_text","label":"ggXrJtBeSuV_text","default":"<p>say their skin feels more comfortable against the fabric</p>"},{"type":"html","id":"ggqkUzc-uVr_text","label":"ggqkUzc-uVr_text","default":"<p>85%</p>"},{"type":"html","id":"gg3SDVkeMFb_text","label":"gg3SDVkeMFb_text","default":"<p>sleep more soundly and peacefully through the night</p>"},{"type":"html","id":"ggli5-g6HxM_text","label":"ggli5-g6HxM_text","default":"<p>78%</p>"},{"type":"html","id":"ggkSsBcu-hV_text","label":"ggkSsBcu-hV_text","default":"<p>feel cooler and less sweaty while sleeping</p>"},{"type":"html","id":"ggFFuyoLwic_text","label":"ggFFuyoLwic_text","default":"<p>67%</p>"},{"type":"html","id":"ggc1i1aWOIR_text","label":"ggc1i1aWOIR_text","default":"<p>wake up feeling brighter and more refreshed</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}